*{
    box-sizing: border-box;
    padding: 0;
    margin: 0%;
    font-family: 'Roboto';
    text-decoration: none;
    font-size: 12px;
}

body{
    background-color: var(--color-grisClaro);
}

/* header */

header{
    background-color: var(--color-amarillo);
}
.encabezado img{
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 5px;
}

.encabezado p{
    text-align: center;
}

.encabezado ul{
    list-style: none;
    color: blanchedalmond;
}

.encabezado .buscador{
    margin: 15px;
    margin-bottom: 0;
}

.encabezado .menus{
    display: none;
}

.encabezado .menus a{
    color: black;
}

.encabezado div{
    margin:0;
    padding: 0;
}

.encabezado .burger-menu{
    text-align: center;
}

.encabezado .burger-menu button{
    display: inline-block;
    margin: 20px auto;
    background-color: var(--color-celeste);
    border: none;
    padding: 10px;
    color: white;
    border-radius: 5px;
}


/* main */
main{
    margin-left: auto;
    margin-right: auto;
    width: 90vw
}

.sin-borde{
    margin: 0;
    padding: 0;
}

.sin-borde img{
    display: block;
    width: 100%;
}
.ultima-visita{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ultima-visita h2{
    align-self: flex-start;
    margin: 5%;
}
.seccion-ofertas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.seccion-ofertas h2{
    align-self: flex-start;
    margin-left: 5%;
}

main section article{
    width: 90%;
}

main section{
    padding: 10px;
}

main .titulares{
    font-size: 24px;
    color: var(--color-grisOscuro);
}

main img.photo{
    display: block;
    width: 100%;
}

.articulos{
    margin-bottom: 10px;
}

.articulos h4{
    margin: 5px 0;
}

.articulos span.truck-border{
    display: inline-block;
    border-radius: 50%;
    border: 1px solid var(--color-verde);
    padding: 10px;
}

.caja{
    background-color: #fff;
    padding: 15px;
    border-top: 1px solid var(--color-grisClaro);
}

main .precio{
    font-size: 18px;
    color: var(--color-grisOscuro)
}

main .descuentos{
    font-size: 16px;
    color: var(--color-verde);
}

main .descripcion{
    color: var(--color-grisOscuro);
    font-size: 16px;
    display: none;
}

/* footer */

footer{
    background-color: white;
    padding-top: 30px;
}

.foot{
    text-align: center;
    padding: 30px;
    margin: 0;
}

footer i{
    font-size: 2em;
    margin-bottom: 10px;
}

.foot h3{
    font-size: 16px;
    margin-bottom: 0;
    color: var(--color-grisOscuro);
}

.foot p{
    color: var(--color-grisOscuro);
}


@media (min-width: 361px) {
    
    /* header */

    .encabezado .menus{
        display: block;
        padding-bottom: 10px;
        margin:0;
    }

    .encabezado .burger-menu{
        display: none;
    }

    main .descripcion{
        color: var(--color-grisOscuro);
        font-size: 16px;
        display: block;
    }

    .articulos{
        margin-bottom: 10px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

}

@media (min-width: 769) {

    /* header */

    .encabezado .menus{
        display: block;
    }

    .encabezado .burger-menu{
        display: none;
    }

    main .descripcion{
        color: var(--color-grisOscuro);
        font-size: 16px;
        display: block;
    }

    .articulos{
        margin-bottom: 10px;
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    
}